{% extends "base.html" %}

{% block head %}
<meta property="og:image" content="{{ get_url(path=page.extra.image) }}" />
{% endblock %}

{% block content %}
<div>
  <div class="image">
    <img src="{{ get_url(path=page.extra.image) }}">
  </div>
  {% if page.extra.image_credit %}
  <h5><i>Image credit: {{ page.extra.image_credit }}</i></h5>
  {% endif %}
</div>

<h1>{{ page.title }}</h1>
<h5><i>{{ page.date | date(format="%A, %B %-d, %Y") }}</i></h5>
<h5><i>Written by: {{ page.authors | join(sep=", ") }}</i></h5>
{% if page.extra.old_release %}
<h2>SS3D Build: 
  <u>
    <a href="{{ config.extra.github_game_url }}/releases/download/{{ page.extra.old_release }}/RESS3D_{{ page.extra.old_release }}.zip" target="_blank">v{{ page.extra.old_release }}</a>
  </u>
</h2>
{% endif %}
{% if page.extra.release %}
<h2>SS3D {{ page.extra.release }}
  <h4>
    <a href="{{ config.extra.github_game_url }}/releases/download/{{ page.extra.release }}/SS3D_{{ page.extra.release }}.zip">Download</a> - <a href="{{ config.extra.github_game_url }}/releases/tag/{{ page.extra.release }}">Changelog</a>
  </h4>
</h2>
{% endif %}
<br>

{{ page.content | safe }}

{% endblock content %}
